#board, .boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    /*Que se repita 10 elementos, 1 a cada columna. 10 columnas por 10 filas*/
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
    font-size: 25px;
}

#gameOver {
    display: none;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: #f35a69;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: blue;
}

.snakeSquare {
    background-color: yellow;
}

.foodSquare {
    background-color: red;
}